@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700,800|Source+Sans+Pro:300,400,600,700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #373e57;
  color: #ccc8db;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  background-color: #151728;
  display: flex;
  max-width: 1600px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}


.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #181d2f;
}


.developer {
  position: absolute;
  color: #fff;
  left: 0;
  top: -100%;
  display: flex;
  transition: 0.3s;
  padding: 0 20px;
  align-items: center;
  background-color: #272a3a;
  width: 100%;
  height: 100%;
}

.developer img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
  margin-right: 10px;
}

.search-bar {
  width: 40%;
  height: 45px;
  background-color: #222540;
  z-index: 3;
  margin: auto 65px auto 50px;
  border-radius: 4px;
  position: relative;
}
.search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0 54px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3e%3cpath d='M508.9 478.7L360 330a201.6 201.6 0 0045.2-127.3C405.3 90.9 314.4 0 202.7 0S0 91 0 202.7s91 202.6 202.7 202.6c48.2 0 92.4-17 127.3-45.2L478.7 509c4.2 4.1 11 4.1 15 0l15.2-15.1c4.1-4.2 4.1-11 0-15zm-306.2-116c-88.3 0-160-71.8-160-160s71.7-160 160-160 160 71.7 160 160-71.8 160-160 160z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%235C5D71'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 22px 50%;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.search-bar input::placeholder {
  color: #5c5d71;
}

.main-container {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  background-color: #24273b;
}

.profile {
  position: relative;
  height: 46vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1;
}
.profile-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.profile:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-image: url("https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  opacity: 0.7;
}

.profile-menu {
  position: absolute;
  bottom: 0;
  padding-left: 190px;
  background: #151728;
  width: 100%;
  height: 60px;
  display: flex;
  border-radius: 0 0 5px 5px;
}

.profile-menu-link {
  display: flex;
  justify-content: center;
  width: 75px;
  padding: 20px 0;
  color: lightslategrey;
  transition: 0.3s;
  cursor: pointer;
}
.profile-menu-link:hover {
  color: #fff;
  background-color: #1b1d2e;
  border-bottom: 3px solid #1488fa;
}

.profile-avatar {
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 1;
  bottom: 16px;
  left: 24px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #151728;
}

.profile-name {
  margin-left: 24px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}
.profile-name p {
  margin: 0;
  font-size: 20px;
  line-height: 17px;
}

.timeline {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  position: relative;
  z-index: 2;
}
.timeline-left {
  width: 310px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .timeline {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .timeline-right {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.box {
  background-color: #151728;
  border-radius: 5px;
}

.event {
  position: relative;
  margin-top: 20px;
  padding: 10px;
}

.event-wrapper {
  position: relative;
}

.event-img {
  max-width: 100%;
  display: block;
  padding-bottom: 12px;
}

.event-date {
  position: absolute;
  left: 20px;
  top: 15px;
}

.event-month {
  background-color: #1687fa;
  padding: 7px 20px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.event-day {
  width: 100%;
  backdrop-filter: blur(4px);
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 0;
  text-align: center;
}

.event-title {
  color: #c3c5d5;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  padding: 0 14px;
}

.event-subtitle {
  color: #5c5e6e;
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 0 14px;
}